@model cykel.chsk.se.Models.IndexModel
<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <ul class="nav" data-bind="foreach: views">
                <li data-bind="css: { 'active' : $root.view().key() == key() }, visible: isVisible">
                    <a href="#" data-bind="click: clicked, attr: {title: title()}">
                        <i data-bind="attr: {class: 'icon-white ' + icon()}"></i>
                        <span data-bind="text: title" class="hidden-phone"></span>
                    </a>
                </li>
            </ul>

            <!-- ko if: view().key() == 'stations' -->
            <form class="navbar-search pull-left" action="." onsubmit="return false">
                <span class="deleteicon">
                    <input type="text" class="search-query span4" placeholder="Filtrera stationer" data-bind="value: searchStations, valueUpdate: 'afterkeydown'" autocorrect="off" autocapitalize="off" />
                    <span class="icon-remove-sign" data-bind="click: clearSearchStations"></span>
                </span>
            </form>
            <!-- /ko -->
            
            <!-- ko if: view().key() == 'find' -->
            <form class="navbar-search pull-left" action="." data-bind="submit: search">
                <span class="deleteicon">
                    <input type="text" class="search-query span4" placeholder="Sök plats i Göteborg" data-bind="value: searchMap" autocorrect="off" autocapitalize="off" />
                    <span class="icon-remove-sign" data-bind="click: clearSearchMap"></span>
                </span>
            </form>
            <!-- /ko -->
        </div>
    </div>
</div>

<div class="container">

    <div class="row" data-bind="visible: view().key() == 'favorites'">
        <div class="span8">
            <table class="table">
                <tbody data-bind="template: { name: 'station-row', foreach: favorites } "></tbody>
            </table>
        </div>
        <div class="span4">
            <div class="sidebar">
                <h2>Favoriter</h2>
                <p>
                    Här kan du snabbt och enkelt se statusen på de stationer du har valt som favoriter.
                    Använd <i class="icon-star"></i>-ikonen för att ta bort en station från listan.
                </p>
                <p>
                    Siffrorna <span class="badge badge-success">x</span> <span class="badge">y</span>
                    betyder att det finns <strong>x</strong> lediga cyklar på stationen, och <strong>y</strong> lediga parkeringar.
                    Observera att dessa siffrorna inte är 100% pålitliga, då systemet inte rapporterar detta i realtid.
                </p>
            </div>
        </div>
    </div>

    <div class="row" data-bind="visible: view().key() == 'stations'" id="stations-wrapper">
        <div class="span8">
            <table class="table">
                <tbody data-bind="template: { name: 'station-row', foreach: listStations } "></tbody>
            </table>
        </div>

        <div class="span4">
            <div class="sidebar">
                <h2>Stationer</h2>
                <p>
                    Just nu finns det <span data-bind="text: stations().length"></span> aktiva stationer. 
                    Dessa hämtas och uppdateras automatiskt med @(Model.PollIntervalFriendlyString) mellanrum.
                    Du kan klicka på stationernas namn för att visa mer information, eller markera dem som favoriter genom att trycka på <i class="icon-star-empty"></i>-ikonen.
                </p>
                <p>
                    Siffrorna <span class="badge badge-success">x</span> <span class="badge">y</span>
                    betyder att det finns <strong>x</strong> lediga cyklar på stationen, och <strong>y</strong> lediga parkeringar.
                    Observera att dessa siffrorna inte är 100% pålitliga, då systemet inte rapporterar detta i realtid.
                </p>
            </div>
        </div>
    </div>

    <div class="row" data-bind="visible: view().key() == 'find'">
        <div class="span8">
            <div id="map_canvas"></div>
        </div>

        <div class="span4">
            <div class="sidebar">
                <h2>Hitta station</h2>
                <p>
                    Sök i rutan ovan efter en address eller plats i Göteborg, t.ex. 
                    <a href="#"><span class="label">Liseberg</span></a> eller 
                    <a href="#"><span class="label">Vasagatan 43</span></a>.
                    De stationer som är närmast din sökning kommer att visar här.
                </p>
            </div>
            
            <table class="table" id="searchResults">
                <tbody data-bind="foreach: searchResults">
                    <tr data-bind="with: station">
                        <td class="distanceInfo">
                            <a href="#" data-bind="click: $parent.clicked"><span class="label label-info" data-bind="text: $parent.nr"></span></a>
                            <span data-bind="text: $parent.distance + 'm'"></span>
                        </td>
                        <td class="name" data-bind="template: {name: 'station-name', data: $data }"></td>
                        <td class="bikeInfo">
                            <span class="badge badge-success" data-bind="text: bikes"></span>
                            <span class="badge" data-bind="text: free"></span>
                        </td>
                    </tr>
                </tbody>
            </table>

        </div>
    </div>
    
    <div class="row" data-bind="visible: view().key()=='about'" id="about-wrapper">
        <div class="span8">
            <h2>cykel.chsk.se</h2>

            <p>Sidan bygger på en rad open source-projekt, bl.a. speciellt tack till:</p>
            <ul>
                <li>SignalR</li>
                <li>Bootstrap from Twitter</li>
                <li>.NET MVC</li>
            </ul>
        </div>
        <div class="span4">
            <div class="sidebar">
                <h2>Webbläsare</h2>
                <p>Den här webappen använder en del funktioner för att leverera bästa upplevelse. Din webbläsare kan hantera följande:</p>
                <table class="table">
                    <tbody data-bind="foreach: capabilities">
                        <tr>
                            <th data-bind="text: title"></th>
                            <td data-bind="text: value"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="row" data-bind="visible: view().key()=='update'" id="update-wrapper">
        <div class="span12">
            <h2>Uppdatering</h2>
            <p><a href="/">Ladda om</a> för att uppdatera till den senaste versionen.</p>
        </div>
    </div>
</div>

<script type="text/html" id="station-row">
    <tr>
        <td class="name" data-bind="template: {name: 'station-name', data: $data }"></td>
        <td class="bikeInfo">
            <span class="badge badge-success" data-bind="text: bikes"></span>
            <span class="badge" data-bind="text: free"></span>
        </td>
    </tr>
</script>
<script type="text/html" id="station-name">
    <a href="#" data-bind="click: toggleFavorite"><i data-bind="css: { 'icon-star': isFavorite(), 'icon-star-empty': !isFavorite() }"></i></a>
    <span data-bind="text: name, attr: { title: '#'+id()+' '+name() }"></span>
</script>
