<div class="container-fluid">
    <div class="row-fluid" style="text-align: center">
        <h1>Oh dear</h1>
        <img src="@Url.Content("~/Content/images/error.jpg")" alt="Oh dear" />
        <p>Vad hände där!? Testa att gå till @Html.ActionLink("startsidan", "Index", "Default") igen.</p>
    </div>
</div>